{
    "folders": [
        {
            "name": "{{project_name}}",
            "path": "."
        },
        {
            "name": "Pico",
            "uri": "pico:/"
        }
    ],
    "settings": {}
}
